src/main/resources/com/datalex/service/customers/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace="http://services.datalex.com/"
             name="CustomerService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://services.datalex.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.datalex.com/" schemaLocation="../entities/CustomerService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="com.datalex.entity" schemaLocation="../entities/CustomerService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCustomers">
    <part name="parameters" element="tns:getCustomers"/>
  </message>
  <message name="getCustomersResponse">
    <part name="parameters" element="tns:getCustomersResponse"/>
  </message>
  <message name="getCustomerById">
    <part name="parameters" element="tns:getCustomerById"/>
  </message>
  <message name="getCustomerByIdResponse">
    <part name="parameters" element="tns:getCustomerByIdResponse"/>
  </message>
  <message name="deleteCustomer">
    <part name="parameters" element="tns:deleteCustomer"/>
  </message>
  <message name="deleteCustomerResponse">
    <part name="parameters" element="tns:deleteCustomerResponse"/>
  </message>
  <message name="updateCustomer">
    <part name="parameters" element="tns:updateCustomer"/>
  </message>
  <message name="updateCustomerResponse">
    <part name="parameters" element="tns:updateCustomerResponse"/>
  </message>
  <message name="createCustomer">
    <part name="parameters" element="tns:createCustomer"/>
  </message>
  <message name="createCustomerResponse">
    <part name="parameters" element="tns:createCustomerResponse"/>
  </message>
  <portType name="ICustomerService">
    <operation name="getCustomers">
      <input wsam:Action="http://services.datalex.com/ICustomerService/getCustomersRequest" message="tns:getCustomers"/>
      <output wsam:Action="http://services.datalex.com/ICustomerService/getCustomersResponse" message="tns:getCustomersResponse"/>
    </operation>
    <operation name="getCustomerById">
      <input wsam:Action="http://services.datalex.com/ICustomerService/getCustomerByIdRequest" message="tns:getCustomerById"/>
      <output wsam:Action="http://services.datalex.com/ICustomerService/getCustomerByIdResponse" message="tns:getCustomerByIdResponse"/>
    </operation>
    <operation name="deleteCustomer">
      <input wsam:Action="http://services.datalex.com/ICustomerService/deleteCustomerRequest" message="tns:deleteCustomer"/>
      <output wsam:Action="http://services.datalex.com/ICustomerService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
    </operation>
    <operation name="updateCustomer">
      <input wsam:Action="http://services.datalex.com/ICustomerService/updateCustomerRequest" message="tns:updateCustomer"/>
      <output wsam:Action="http://services.datalex.com/ICustomerService/updateCustomerResponse" message="tns:updateCustomerResponse"/>
    </operation>
    <operation name="createCustomer">
      <input wsam:Action="http://services.datalex.com/ICustomerService/createCustomerRequest" message="tns:createCustomer"/>
      <output wsam:Action="http://services.datalex.com/ICustomerService/createCustomerResponse" message="tns:createCustomerResponse"/>
    </operation>
  </portType>
  <binding name="CustomerServicePortBinding" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCustomers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CustomerService">
    <port name="CustomerServicePort" binding="tns:CustomerServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

